    <li class="library-card">
        <div class="library-card-preview">
            <div class="library-card-marker {{preview_class_name}}">
                <img src="/src/img/library-card-marker.png">
            </div>
        </div>
        <div class="library-card-title">{{title}}</div>
        <ul>
            <li>
                <a>view source footage</a>
            </li>
            <li>
                <a>Copy AE keyframes</a>
            </li>
            <li>
                <a>Save unity .anim</a>
            </li>
        </ul> 
    </li>