
@keyframes .ds_store_animation
{
  0.0%   {left: 0.0%; top: 1604.406%;}
  0.263852242744%   {left: 604.078%; top: 2411.851%;}
  0.527704485488%   {left: 603.695%; top: 2407.199%;}
  0.791556728232%   {left: 603.953%; top: 2406.609%;}
  1.05540897098%   {left: 602.0%; top: 2407.691%;}
  1.31926121372%   {left: 599.156%; top: 2408.992%;}
  1.58311345646%   {left: 598.598%; top: 2411.695%;}
  1.84696569921%   {left: 597.109%; top: 2414.199%;}
  2.11081794195%   {left: 597.246%; top: 2416.078%;}
  2.3746701847%   {left: 598.027%; top: 2418.129%;}
  2.63852242744%   {left: 598.012%; top: 2419.804%;}
  2.90237467018%   {left: 599.438%; top: 2422.281%;}
  3.16622691293%   {left: 602.0%; top: 2427.945%;}
  3.43007915567%   {left: 603.0%; top: 2432.933%;}
  3.69393139842%   {left: 605.367%; top: 2435.758%;}
  3.95778364116%   {left: 607.547%; top: 2440.765%;}
  4.22163588391%   {left: 610.746%; top: 2446.758%;}
  4.48548812665%   {left: 613.488%; top: 2451.25%;}
  4.74934036939%   {left: 615.809%; top: 2453.902%;}
  5.01319261214%   {left: 619.465%; top: 2457.953%;}
  5.27704485488%   {left: 621.453%; top: 2461.707%;}
  5.54089709763%   {left: 622.688%; top: 2465.043%;}
  5.80474934037%   {left: 623.867%; top: 2468.043%;}
  6.06860158311%   {left: 624.832%; top: 2472.183%;}
  6.33245382586%   {left: 626.602%; top: 2478.027%;}
  6.5963060686%   {left: 629.836%; top: 2481.699%;}
  6.86015831135%   {left: 632.145%; top: 2484.203%;}
  7.12401055409%   {left: 634.0%; top: 2486.191%;}
  7.38786279683%   {left: 636.594%; top: 2487.945%;}
  7.65171503958%   {left: 638.992%; top: 2489.992%;}
  7.91556728232%   {left: 640.16%; top: 2491.59%;}
  8.17941952507%   {left: 640.328%; top: 2494.851%;}
  8.44327176781%   {left: 640.504%; top: 2498.898%;}
  8.70712401055%   {left: 639.621%; top: 2501.218%;}
  8.9709762533%   {left: 637.719%; top: 2503.656%;}
  9.23482849604%   {left: 635.434%; top: 2507.031%;}
  9.49868073879%   {left: 633.758%; top: 2507.179%;}
  9.76253298153%   {left: 629.441%; top: 2508.98%;}
  10.0263852243%   {left: 626.547%; top: 2512.527%;}
  10.290237467%   {left: 622.527%; top: 2514.57%;}
  10.5540897098%   {left: 618.367%; top: 2519.113%;}
  10.8179419525%   {left: 614.0%; top: 2522.883%;}
  11.0817941953%   {left: 607.0%; top: 2525.07%;}
  11.345646438%   {left: 601.359%; top: 2527.933%;}
  11.6094986807%   {left: 595.035%; top: 2528.633%;}
  11.8733509235%   {left: 588.484%; top: 2530.07%;}
  12.1372031662%   {left: 583.0%; top: 2531.054%;}
  12.401055409%   {left: 576.176%; top: 2531.031%;}
  12.6649076517%   {left: 568.0%; top: 2532.879%;}
  12.9287598945%   {left: 561.648%; top: 2534.73%;}
  13.1926121372%   {left: 554.855%; top: 2534.816%;}
  13.4564643799%   {left: 548.109%; top: 2533.968%;}
  13.7203166227%   {left: 544.332%; top: 2531.64%;}
  13.9841688654%   {left: 540.324%; top: 2531.277%;}
  14.2480211082%   {left: 535.0%; top: 2528.89%;}
  14.5118733509%   {left: 532.023%; top: 2527.117%;}
  14.7757255937%   {left: 528.48%; top: 2527.789%;}
  15.0395778364%   {left: 525.145%; top: 2529.035%;}
  15.3034300792%   {left: 524.113%; top: 2530.941%;}
  15.5672823219%   {left: 520.414%; top: 2531.636%;}
  15.8311345646%   {left: 519.445%; top: 2531.074%;}
  16.0949868074%   {left: 517.102%; top: 2530.609%;}
  16.3588390501%   {left: 514.117%; top: 2529.14%;}
  16.6226912929%   {left: 510.105%; top: 2526.933%;}
  16.8865435356%   {left: 507.926%; top: 2525.207%;}
  17.1503957784%   {left: 505.0%; top: 2526.906%;}
  17.4142480211%   {left: 504.734%; top: 2527.82%;}
  17.6781002639%   {left: 506.035%; top: 2530.66%;}
  17.9419525066%   {left: 507.477%; top: 2530.047%;}
  18.2058047493%   {left: 516.688%; top: 2527.933%;}
  18.4696569921%   {left: 529.578%; top: 2532.062%;}
  18.7335092348%   {left: 539.0%; top: 2534.226%;}
  18.9973614776%   {left: 550.16%; top: 2535.082%;}
  19.2612137203%   {left: 563.195%; top: 2538.609%;}
  19.5250659631%   {left: 573.0%; top: 2542.011%;}
  19.7889182058%   {left: 580.352%; top: 2541.746%;}
  20.0527704485%   {left: 587.391%; top: 2541.734%;}
  20.3166226913%   {left: 594.824%; top: 2546.172%;}
  20.580474934%   {left: 599.262%; top: 2547.785%;}
  20.8443271768%   {left: 602.0%; top: 2551.769%;}
  21.1081794195%   {left: 602.375%; top: 2556.07%;}
  21.3720316623%   {left: 602.438%; top: 2559.218%;}
  21.635883905%   {left: 605.156%; top: 2564.258%;}
  21.8997361478%   {left: 605.832%; top: 2568.281%;}
  22.1635883905%   {left: 605.219%; top: 2570.789%;}
  22.4274406332%   {left: 605.711%; top: 2570.613%;}
  22.691292876%   {left: 605.832%; top: 2570.945%;}
  22.9551451187%   {left: 607.305%; top: 2569.957%;}
  23.2189973615%   {left: 606.176%; top: 2568.617%;}
  23.4828496042%   {left: 604.082%; top: 2564.851%;}
  23.746701847%   {left: 604.27%; top: 2558.629%;}
  24.0105540897%   {left: 605.0%; top: 2554.015%;}
  24.2744063325%   {left: 605.094%; top: 2547.597%;}
  24.5382585752%   {left: 604.5%; top: 2539.004%;}
  24.8021108179%   {left: 605.184%; top: 2533.918%;}
  25.0659630607%   {left: 608.617%; top: 2529.086%;}
  25.3298153034%   {left: 610.602%; top: 2522.609%;}
  25.5936675462%   {left: 612.0%; top: 2517.722%;}
  25.8575197889%   {left: 612.996%; top: 2511.386%;}
  26.1213720317%   {left: 614.0%; top: 2506.621%;}
  26.3852242744%   {left: 617.008%; top: 2502.726%;}
  26.6490765172%   {left: 618.371%; top: 2499.832%;}
  26.9129287599%   {left: 618.121%; top: 2498.027%;}
  27.1767810026%   {left: 618.688%; top: 2498.027%;}
  27.4406332454%   {left: 618.391%; top: 2499.801%;}
  27.7044854881%   {left: 617.668%; top: 2503.742%;}
  27.9683377309%   {left: 616.34%; top: 2507.07%;}
  28.2321899736%   {left: 615.352%; top: 2512.191%;}
  28.4960422164%   {left: 615.508%; top: 2518.019%;}
  28.7598944591%   {left: 615.246%; top: 2524.004%;}
  29.0237467018%   {left: 615.141%; top: 2529.086%;}
  29.2875989446%   {left: 614.777%; top: 2533.933%;}
  29.5514511873%   {left: 614.715%; top: 2537.957%;}
  29.8153034301%   {left: 614.816%; top: 2540.953%;}
  30.0791556728%   {left: 614.328%; top: 2543.019%;}
  30.3430079156%   {left: 614.168%; top: 2542.004%;}
  30.6068601583%   {left: 613.258%; top: 2540.011%;}
  30.8707124011%   {left: 611.758%; top: 2538.875%;}
  31.1345646438%   {left: 612.578%; top: 2535.851%;}
  31.3984168865%   {left: 612.586%; top: 2533.793%;}
  31.6622691293%   {left: 612.523%; top: 2530.929%;}
  31.926121372%   {left: 613.703%; top: 2528.047%;}
  32.1899736148%   {left: 615.797%; top: 2527.922%;}
  32.4538258575%   {left: 617.902%; top: 2526.972%;}
  32.7176781003%   {left: 620.402%; top: 2527.836%;}
  32.981530343%   {left: 622.457%; top: 2528.961%;}
  33.2453825858%   {left: 624.445%; top: 2530.922%;}
  33.5092348285%   {left: 623.23%; top: 2530.867%;}
  33.7730870712%   {left: 621.465%; top: 2529.949%;}
  34.036939314%   {left: 620.207%; top: 2531.957%;}
  34.3007915567%   {left: 619.383%; top: 2535.906%;}
  34.5646437995%   {left: 618.652%; top: 2539.804%;}
  34.8284960422%   {left: 617.273%; top: 2542.937%;}
  35.092348285%   {left: 614.801%; top: 2547.953%;}
  35.3562005277%   {left: 613.18%; top: 2550.859%;}
  35.6200527704%   {left: 608.684%; top: 2546.976%;}
  35.8839050132%   {left: 606.617%; top: 2547.968%;}
  36.1477572559%   {left: 606.422%; top: 2548.98%;}
  36.4116094987%   {left: 608.34%; top: 2550.988%;}
  36.6754617414%   {left: 611.527%; top: 2553.922%;}
  36.9393139842%   {left: 614.691%; top: 2552.961%;}
  37.2031662269%   {left: 619.402%; top: 2549.855%;}
  37.4670184697%   {left: 622.703%; top: 2545.98%;}
  37.7308707124%   {left: 624.105%; top: 2540.601%;}
  37.9947229551%   {left: 625.953%; top: 2536.121%;}
  38.2585751979%   {left: 628.52%; top: 2533.812%;}
  38.5224274406%   {left: 630.199%; top: 2529.832%;}
  38.7862796834%   {left: 631.477%; top: 2526.621%;}
  39.0501319261%   {left: 632.23%; top: 2520.793%;}
  39.3139841689%   {left: 634.574%; top: 2516.746%;}
  39.5778364116%   {left: 637.457%; top: 2512.531%;}
  39.8416886544%   {left: 638.984%; top: 2509.789%;}
  40.1055408971%   {left: 639.949%; top: 2506.777%;}
  40.3693931398%   {left: 642.203%; top: 2503.668%;}
  40.6332453826%   {left: 644.055%; top: 2499.804%;}
  40.8970976253%   {left: 645.027%; top: 2496.402%;}
  41.1609498681%   {left: 645.148%; top: 2492.578%;}
  41.4248021108%   {left: 644.938%; top: 2491.539%;}
  41.6886543536%   {left: 643.555%; top: 2490.351%;}
  41.9525065963%   {left: 642.336%; top: 2490.679%;}
  42.2163588391%   {left: 641.434%; top: 2493.261%;}
  42.4802110818%   {left: 639.367%; top: 2494.656%;}
  42.7440633245%   {left: 637.926%; top: 2494.633%;}
  43.0079155673%   {left: 636.48%; top: 2495.218%;}
  43.27176781%   {left: 636.043%; top: 2496.203%;}
  43.5356200528%   {left: 634.906%; top: 2497.609%;}
  43.7994722955%   {left: 633.027%; top: 2499.816%;}
  44.0633245383%   {left: 632.48%; top: 2500.383%;}
  44.327176781%   {left: 632.215%; top: 2500.398%;}
  44.5910290237%   {left: 632.531%; top: 2498.605%;}
  44.8548812665%   {left: 634.238%; top: 2498.445%;}
  45.1187335092%   {left: 634.98%; top: 2498.672%;}
  45.382585752%   {left: 634.238%; top: 2499.504%;}
  45.6464379947%   {left: 633.93%; top: 2500.222%;}
  45.9102902375%   {left: 633.84%; top: 2502.261%;}
  46.1741424802%   {left: 633.852%; top: 2503.222%;}
  46.437994723%   {left: 632.395%; top: 2504.426%;}
  46.7018469657%   {left: 632.082%; top: 2507.355%;}
  46.9656992084%   {left: 631.973%; top: 2507.59%;}
  47.2295514512%   {left: 632.145%; top: 2511.699%;}
  47.4934036939%   {left: 630.93%; top: 2515.238%;}
  47.7572559367%   {left: 630.359%; top: 2517.457%;}
  48.0211081794%   {left: 629.086%; top: 2519.558%;}
  48.2849604222%   {left: 628.059%; top: 2521.457%;}
  48.5488126649%   {left: 626.102%; top: 2522.261%;}
  48.8126649077%   {left: 625.172%; top: 2523.25%;}
  49.0765171504%   {left: 624.363%; top: 2523.656%;}
  49.3403693931%   {left: 622.34%; top: 2523.605%;}
  49.6042216359%   {left: 620.164%; top: 2520.824%;}
  49.8680738786%   {left: 620.453%; top: 2517.133%;}
  50.1319261214%   {left: 618.93%; top: 2513.347%;}
  50.3957783641%   {left: 617.387%; top: 2508.289%;}
  50.6596306069%   {left: 615.094%; top: 2501.23%;}
  50.9234828496%   {left: 612.48%; top: 2494.668%;}
  51.1873350923%   {left: 610.492%; top: 2489.285%;}
  51.4511873351%   {left: 609.953%; top: 2480.804%;}
  51.7150395778%   {left: 609.957%; top: 2472.722%;}
  51.9788918206%   {left: 607.117%; top: 2463.386%;}
  52.2427440633%   {left: 605.215%; top: 2455.191%;}
  52.5065963061%   {left: 603.867%; top: 2446.113%;}
  52.7704485488%   {left: 602.965%; top: 2442.773%;}
  53.0343007916%   {left: 602.434%; top: 2439.625%;}
  53.2981530343%   {left: 603.965%; top: 2439.652%;}
  53.562005277%   {left: 605.02%; top: 2441.601%;}
  53.8258575198%   {left: 606.203%; top: 2443.754%;}
  54.0897097625%   {left: 607.5%; top: 2448.308%;}
  54.3535620053%   {left: 610.133%; top: 2450.453%;}
  54.617414248%   {left: 613.281%; top: 2457.449%;}
  54.8812664908%   {left: 615.426%; top: 2466.418%;}
  55.1451187335%   {left: 617.977%; top: 2477.816%;}
  55.4089709763%   {left: 618.949%; top: 2492.351%;}
  55.672823219%   {left: 617.875%; top: 2506.39%;}
  55.9366754617%   {left: 619.047%; top: 2520.304%;}
  56.2005277045%   {left: 618.121%; top: 2539.211%;}
  56.4643799472%   {left: 617.09%; top: 2554.683%;}
  56.72823219%   {left: 612.227%; top: 2568.277%;}
  56.9920844327%   {left: 608.133%; top: 2579.754%;}
  57.2559366755%   {left: 602.797%; top: 2591.183%;}
  57.5197889182%   {left: 599.461%; top: 2598.726%;}
  57.7836411609%   {left: 595.547%; top: 2606.816%;}
  58.0474934037%   {left: 593.055%; top: 2610.166%;}
  58.3113456464%   {left: 593.312%; top: 2610.476%;}
  58.5751978892%   {left: 592.422%; top: 2611.756%;}
  58.8390501319%   {left: 593.602%; top: 2612.206%;}
  59.1029023747%   {left: 595.352%; top: 2613.706%;}
  59.3667546174%   {left: 597.043%; top: 2616.416%;}
  59.6306068602%   {left: 598.059%; top: 2616.616%;}
  59.8944591029%   {left: 599.391%; top: 2617.406%;}
  60.1583113456%   {left: 598.949%; top: 2614.416%;}
  60.4221635884%   {left: 597.137%; top: 2606.836%;}
  60.6860158311%   {left: 595.496%; top: 2595.84%;}
  60.9498680739%   {left: 593.48%; top: 2583.59%;}
  61.2137203166%   {left: 594.414%; top: 2568.48%;}
  61.4775725594%   {left: 593.57%; top: 2551.0%;}
  61.7414248021%   {left: 592.336%; top: 2530.48%;}
  62.0052770449%   {left: 594.887%; top: 2507.508%;}
  62.2691292876%   {left: 597.379%; top: 2488.535%;}
  62.5329815303%   {left: 602.551%; top: 2472.625%;}
  62.7968337731%   {left: 607.809%; top: 2457.347%;}
  63.0606860158%   {left: 613.242%; top: 2446.824%;}
  63.3245382586%   {left: 618.922%; top: 2440.265%;}
  63.5883905013%   {left: 623.445%; top: 2436.672%;}
  63.8522427441%   {left: 630.16%; top: 2436.847%;}
  64.1160949868%   {left: 639.461%; top: 2437.367%;}
  64.3799472296%   {left: 644.586%; top: 2438.566%;}
  64.6437994723%   {left: 649.867%; top: 2440.16%;}
  64.907651715%   {left: 654.914%; top: 2440.164%;}
  65.1715039578%   {left: 662.113%; top: 2441.25%;}
  65.4353562005%   {left: 668.402%; top: 2442.152%;}
  65.6992084433%   {left: 671.918%; top: 2442.492%;}
  65.963060686%   {left: 674.531%; top: 2444.82%;}
  66.2269129288%   {left: 678.832%; top: 2447.41%;}
  66.4907651715%   {left: 680.27%; top: 2450.215%;}
  66.7546174142%   {left: 681.0%; top: 2450.23%;}
  67.018469657%   {left: 681.316%; top: 2452.312%;}
  67.2823218997%   {left: 679.457%; top: 2457.777%;}
  67.5461741425%   {left: 674.688%; top: 2461.191%;}
  67.8100263852%   {left: 671.887%; top: 2467.195%;}
  68.073878628%   {left: 667.242%; top: 2470.304%;}
  68.3377308707%   {left: 664.203%; top: 2475.398%;}
  68.6015831135%   {left: 660.203%; top: 2479.535%;}
  68.8654353562%   {left: 656.441%; top: 2484.277%;}
  69.1292875989%   {left: 653.82%; top: 2490.379%;}
  69.3931398417%   {left: 649.398%; top: 2494.234%;}
  69.6569920844%   {left: 648.914%; top: 2497.621%;}
  69.9208443272%   {left: 647.988%; top: 2505.094%;}
  70.1846965699%   {left: 647.887%; top: 2512.269%;}
  70.4485488127%   {left: 648.266%; top: 2519.48%;}
  70.7124010554%   {left: 647.574%; top: 2526.836%;}
  70.9762532982%   {left: 649.324%; top: 2533.39%;}
  71.2401055409%   {left: 650.074%; top: 2540.136%;}
  71.5039577836%   {left: 649.941%; top: 2546.285%;}
  71.7678100264%   {left: 651.035%; top: 2552.769%;}
  72.0316622691%   {left: 648.582%; top: 2559.16%;}
  72.2955145119%   {left: 647.988%; top: 2563.094%;}
  72.5593667546%   {left: 648.188%; top: 2563.738%;}
  72.8232189974%   {left: 647.016%; top: 2566.41%;}
  73.0870712401%   {left: 646.129%; top: 2567.23%;}
  73.3509234828%   {left: 645.25%; top: 2567.187%;}
  73.6147757256%   {left: 642.863%; top: 2568.199%;}
  73.8786279683%   {left: 638.992%; top: 2566.238%;}
  74.1424802111%   {left: 633.832%; top: 2564.715%;}
  74.4063324538%   {left: 627.703%; top: 2562.562%;}
  74.6701846966%   {left: 620.375%; top: 2558.488%;}
  74.9340369393%   {left: 613.164%; top: 2554.617%;}
  75.1978891821%   {left: 606.254%; top: 2550.293%;}
  75.4617414248%   {left: 599.402%; top: 2544.437%;}
  75.7255936675%   {left: 592.941%; top: 2537.433%;}
  75.9894459103%   {left: 586.02%; top: 2530.164%;}
  76.253298153%   {left: 579.852%; top: 2522.379%;}
  76.5171503958%   {left: 577.172%; top: 2515.64%;}
  76.7810026385%   {left: 575.945%; top: 2510.383%;}
  77.0448548813%   {left: 574.484%; top: 2505.457%;}
  77.308707124%   {left: 572.004%; top: 2502.242%;}
  77.5725593668%   {left: 567.984%; top: 2503.754%;}
  77.8364116095%   {left: 565.016%; top: 2507.172%;}
  78.1002638522%   {left: 561.055%; top: 2512.726%;}
  78.364116095%   {left: 556.027%; top: 2520.136%;}
  78.6279683377%   {left: 550.965%; top: 2526.621%;}
  78.8918205805%   {left: 546.254%; top: 2534.633%;}
  79.1556728232%   {left: 543.395%; top: 2544.48%;}
  79.419525066%   {left: 539.391%; top: 2553.711%;}
  79.6833773087%   {left: 537.117%; top: 2563.422%;}
  79.9472295515%   {left: 535.102%; top: 2571.32%;}
  80.2110817942%   {left: 537.113%; top: 2576.398%;}
  80.4749340369%   {left: 540.316%; top: 2579.222%;}
  80.7387862797%   {left: 542.895%; top: 2577.715%;}
  81.0026385224%   {left: 546.945%; top: 2572.429%;}
  81.2664907652%   {left: 550.074%; top: 2563.722%;}
  81.5303430079%   {left: 552.922%; top: 2554.429%;}
  81.7941952507%   {left: 555.098%; top: 2541.73%;}
  82.0580474934%   {left: 557.023%; top: 2529.254%;}
  82.3218997361%   {left: 556.453%; top: 2517.597%;}
  82.5857519789%   {left: 554.379%; top: 2504.445%;}
  82.8496042216%   {left: 553.258%; top: 2494.441%;}
  83.1134564644%   {left: 551.438%; top: 2488.551%;}
  83.3773087071%   {left: 550.09%; top: 2481.73%;}
  83.6411609499%   {left: 549.176%; top: 2475.222%;}
  83.9050131926%   {left: 545.289%; top: 2472.676%;}
  84.1688654354%   {left: 543.398%; top: 2470.394%;}
  84.4327176781%   {left: 542.469%; top: 2471.203%;}
  84.6965699208%   {left: 541.117%; top: 2473.195%;}
  84.9604221636%   {left: 538.43%; top: 2473.504%;}
  85.2242744063%   {left: 536.887%; top: 2474.527%;}
  85.4881266491%   {left: 535.949%; top: 2477.617%;}
  85.7519788918%   {left: 535.164%; top: 2481.781%;}
  86.0158311346%   {left: 535.09%; top: 2485.379%;}
  86.2796833773%   {left: 535.477%; top: 2490.386%;}
  86.5435356201%   {left: 536.418%; top: 2496.636%;}
  86.8073878628%   {left: 538.969%; top: 2502.344%;}
  87.0712401055%   {left: 539.973%; top: 2509.164%;}
  87.3350923483%   {left: 538.996%; top: 2515.781%;}
  87.598944591%   {left: 536.211%; top: 2522.308%;}
  87.8627968338%   {left: 533.09%; top: 2529.297%;}
  88.1266490765%   {left: 529.461%; top: 2534.406%;}
  88.3905013193%   {left: 525.074%; top: 2538.324%;}
  88.654353562%   {left: 520.988%; top: 2542.699%;}
  88.9182058047%   {left: 516.812%; top: 2547.504%;}
  89.1820580475%   {left: 515.02%; top: 2552.211%;}
  89.4459102902%   {left: 515.305%; top: 2555.769%;}
  89.709762533%   {left: 515.531%; top: 2560.761%;}
  89.9736147757%   {left: 519.93%; top: 2563.668%;}
  90.2374670185%   {left: 525.188%; top: 2566.48%;}
  90.5013192612%   {left: 533.258%; top: 2569.265%;}
  90.765171504%   {left: 541.559%; top: 2572.418%;}
  91.0290237467%   {left: 551.703%; top: 2574.324%;}
  91.2928759894%   {left: 560.996%; top: 2575.543%;}
  91.5567282322%   {left: 570.473%; top: 2575.738%;}
  91.8205804749%   {left: 580.09%; top: 2575.48%;}
  92.0844327177%   {left: 589.168%; top: 2574.738%;}
  92.3482849604%   {left: 595.93%; top: 2572.172%;}
  92.6121372032%   {left: 601.461%; top: 2569.125%;}
  92.8759894459%   {left: 606.262%; top: 2566.238%;}
  93.1398416887%   {left: 609.176%; top: 2563.121%;}
  93.4036939314%   {left: 610.215%; top: 2560.113%;}
  93.6675461741%   {left: 610.34%; top: 2557.547%;}
  93.9313984169%   {left: 612.203%; top: 2553.285%;}
  94.1952506596%   {left: 612.02%; top: 2550.621%;}
  94.4591029024%   {left: 611.082%; top: 2546.109%;}
  94.7229551451%   {left: 609.258%; top: 2540.636%;}
  94.9868073879%   {left: 607.945%; top: 2536.461%;}
  95.2506596306%   {left: 607.945%; top: 2531.336%;}
  95.5145118734%   {left: 607.512%; top: 2526.558%;}
  95.7783641161%   {left: 605.883%; top: 2520.687%;}
  96.0422163588%   {left: 603.41%; top: 2515.718%;}
  96.3060686016%   {left: 601.508%; top: 2510.359%;}
  96.5699208443%   {left: 597.977%; top: 2505.316%;}
  96.8337730871%   {left: 594.406%; top: 2498.254%;}
  97.0976253298%   {left: 590.336%; top: 2491.644%;}
  97.3614775726%   {left: 587.98%; top: 2485.258%;}
  97.6253298153%   {left: 586.336%; top: 2477.261%;}
  97.889182058%   {left: 585.176%; top: 2470.301%;}
  98.1530343008%   {left: 581.871%; top: 2463.355%;}
  98.4168865435%   {left: 579.238%; top: 2455.242%;}
  98.6807387863%   {left: 577.227%; top: 2451.344%;}
  98.944591029%   {left: 575.039%; top: 2447.758%;}
  99.2084432718%   {left: 572.312%; top: 2444.355%;}
  99.4722955145%   {left: 570.461%; top: 2441.531%;}
  99.7361477573%   {left: 569.027%; top: 2440.551%;}
}

..ds_store
{
  animation: .ds_store_animation 12s infinite;
}
