
@keyframes drawing_a_line_with_a_marker_pen_animation
{
  0.0%   {left: 0.0%; top: 0.0%;}
  1.88679245283%   {left: 98.2378246399%; top: 0.690336738995%;}
  3.77358490566%   {left: 98.2172356495%; top: 0.677983344718%;}
  5.66037735849%   {left: 98.1893799565%; top: 0.635836470127%;}
  7.54716981132%   {left: 98.1227685168%; top: 0.58291065347%;}
  9.43396226415%   {left: 98.0900683554%; top: 0.549362710189%;}
  11.320754717%   {left: 97.9919678715%; top: 0.53894710325%;}
  13.2075471698%   {left: 97.6673884924%; top: 0.519448118166%;}
  15.0943396226%   {left: 96.8377732886%; top: 0.490623531521%;}
  16.9811320755%   {left: 95.6206006172%; top: 0.49583133499%;}
  18.8679245283%   {left: 94.0715818642%; top: 0.404513106709%;}
  20.7547169811%   {left: 92.4438405007%; top: 0.285823632285%;}
  22.641509434%   {left: 90.6804540236%; top: 0.245130098197%;}
  24.5283018868%   {left: 88.671210778%; top: 0.124502836436%;}
  26.4150943396%   {left: 86.402788476%; top: 0.0402090872537%;}
  28.3018867925%   {left: 83.9696542503%; top: 0.00242223417191%;}
  30.1886792453%   {left: 81.3003521928%; top: 0.0%;}
  32.0754716981%   {left: 78.3658154936%; top: 0.00666114397275%;}
  33.9622641509%   {left: 75.103066064%; top: 0.0142911816143%;}
  35.8490566038%   {left: 71.7543273213%; top: 0.0289456983543%;}
  37.7358490566%   {left: 68.2990102751%; top: 0.0147756284487%;}
  39.6226415094%   {left: 64.7625483841%; top: 0.0294301451887%;}
  41.5094339623%   {left: 61.1703751072%; top: 0.112149442159%;}
  43.3962264151%   {left: 57.5224904443%; top: 0.151874082579%;}
  45.2830188679%   {left: 53.8624946105%; top: 0.253607917799%;}
  47.1698113208%   {left: 50.233987821%; top: 0.389858589969%;}
  49.0566037736%   {left: 46.415335649%; top: 0.508184729267%;}
  50.9433962264%   {left: 42.583361189%; top: 0.638743151133%;}
  52.8301886792%   {left: 38.7121465355%; top: 0.747985912286%;}
  54.7169811321%   {left: 34.9690680696%; top: 0.850688641175%;}
  56.6037735849%   {left: 31.355579132%; top: 0.898406654362%;}
  58.4905660377%   {left: 27.8410384602%; top: 1.00777052722%;}
  60.3773584906%   {left: 24.3717935675%; top: 0.999171595913%;}
  62.2641509434%   {left: 20.983087961%; top: 0.993963792444%;}
  64.1509433962%   {left: 17.6500937405%; top: 0.876243211689%;}
  66.0377358491%   {left: 14.3800776084%; top: 0.746169236657%;}
  67.9245283019%   {left: 11.4001240184%; top: 0.625057528062%;}
  69.8113207547%   {left: 8.66081939338%; top: 0.492076872024%;}
  71.6981132075%   {left: 6.34504241332%; top: 0.393128606101%;}
  73.5849056604%   {left: 4.44891750355%; top: 0.356795093522%;}
  75.4716981132%   {left: 2.9223044167%; top: 0.282432504445%;}
  77.358490566%   {left: 1.79160550525%; top: 0.283401398114%;}
  79.2452830189%   {left: 0.907853367632%; top: 0.271169115545%;}
  81.1320754717%   {left: 0.301325930986%; top: 0.273470238009%;}
  83.0188679245%   {left: 0.0%; top: 0.283885844948%;}
  84.9056603774%   {left: 0.0643103172642%; top: 0.364304019455%;}
  86.7924528302%   {left: 0.0670958865619%; top: 0.362850678952%;}
  88.679245283%   {left: 0.0888959941091%; top: 0.361518450158%;}
  90.5660377358%   {left: 0.0888959941091%; top: 0.286792525954%;}
  92.4528301887%   {left: 0.104034957684%; top: 0.27165356238%;}
  94.3396226415%   {left: 0.132859544329%; top: 0.270684668711%;}
  96.2264150943%   {left: 0.121959490556%; top: 0.271169115545%;}
  98.1132075472%   {left: 0.107304973816%; top: 0.273954684843%;}
}

.drawing_a_line_with_a_marker_pen
{
  animation: drawing_a_line_with_a_marker_pen_animation 0.883333333333s infinite;
}
