
@keyframes drawing_a_line_with_a_marker_pen_animation
{
  0.0%   {transform: translate(0.0px,0.0px);}
  1.88679245283%   {transform: translate(0.982378246399px,0.00690336738995px);}
  3.77358490566%   {transform: translate(0.982172356495px,0.00677983344718px);}
  5.66037735849%   {transform: translate(0.981893799565px,0.00635836470127px);}
  7.54716981132%   {transform: translate(0.981227685168px,0.0058291065347px);}
  9.43396226415%   {transform: translate(0.980900683554px,0.00549362710189px);}
  11.320754717%   {transform: translate(0.979919678715px,0.0053894710325px);}
  13.2075471698%   {transform: translate(0.976673884924px,0.00519448118166px);}
  15.0943396226%   {transform: translate(0.968377732886px,0.00490623531521px);}
  16.9811320755%   {transform: translate(0.956206006172px,0.0049583133499px);}
  18.8679245283%   {transform: translate(0.940715818642px,0.00404513106709px);}
  20.7547169811%   {transform: translate(0.924438405007px,0.00285823632285px);}
  22.641509434%   {transform: translate(0.906804540236px,0.00245130098197px);}
  24.5283018868%   {transform: translate(0.88671210778px,0.00124502836436px);}
  26.4150943396%   {transform: translate(0.86402788476px,0.000402090872537px);}
  28.3018867925%   {transform: translate(0.839696542503px,2.42223417191e-05px);}
  30.1886792453%   {transform: translate(0.813003521928px,0.0px);}
  32.0754716981%   {transform: translate(0.783658154936px,6.66114397275e-05px);}
  33.9622641509%   {transform: translate(0.75103066064px,0.000142911816143px);}
  35.8490566038%   {transform: translate(0.717543273213px,0.000289456983543px);}
  37.7358490566%   {transform: translate(0.682990102751px,0.000147756284487px);}
  39.6226415094%   {transform: translate(0.647625483841px,0.000294301451887px);}
  41.5094339623%   {transform: translate(0.611703751072px,0.00112149442159px);}
  43.3962264151%   {transform: translate(0.575224904443px,0.00151874082579px);}
  45.2830188679%   {transform: translate(0.538624946105px,0.00253607917799px);}
  47.1698113208%   {transform: translate(0.50233987821px,0.00389858589969px);}
  49.0566037736%   {transform: translate(0.46415335649px,0.00508184729267px);}
  50.9433962264%   {transform: translate(0.42583361189px,0.00638743151133px);}
  52.8301886792%   {transform: translate(0.387121465355px,0.00747985912286px);}
  54.7169811321%   {transform: translate(0.349690680696px,0.00850688641175px);}
  56.6037735849%   {transform: translate(0.31355579132px,0.00898406654362px);}
  58.4905660377%   {transform: translate(0.278410384602px,0.0100777052722px);}
  60.3773584906%   {transform: translate(0.243717935675px,0.00999171595913px);}
  62.2641509434%   {transform: translate(0.20983087961px,0.00993963792444px);}
  64.1509433962%   {transform: translate(0.176500937405px,0.00876243211689px);}
  66.0377358491%   {transform: translate(0.143800776084px,0.00746169236657px);}
  67.9245283019%   {transform: translate(0.114001240184px,0.00625057528062px);}
  69.8113207547%   {transform: translate(0.0866081939338px,0.00492076872024px);}
  71.6981132075%   {transform: translate(0.0634504241332px,0.00393128606101px);}
  73.5849056604%   {transform: translate(0.0444891750355px,0.00356795093522px);}
  75.4716981132%   {transform: translate(0.029223044167px,0.00282432504445px);}
  77.358490566%   {transform: translate(0.0179160550525px,0.00283401398114px);}
  79.2452830189%   {transform: translate(0.00907853367632px,0.00271169115545px);}
  81.1320754717%   {transform: translate(0.00301325930986px,0.00273470238009px);}
  83.0188679245%   {transform: translate(0.0px,0.00283885844948px);}
  84.9056603774%   {transform: translate(0.000643103172642px,0.00364304019455px);}
  86.7924528302%   {transform: translate(0.000670958865619px,0.00362850678952px);}
  88.679245283%   {transform: translate(0.000888959941091px,0.00361518450158px);}
  90.5660377358%   {transform: translate(0.000888959941091px,0.00286792525954px);}
  92.4528301887%   {transform: translate(0.00104034957684px,0.0027165356238px);}
  94.3396226415%   {transform: translate(0.00132859544329px,0.00270684668711px);}
  96.2264150943%   {transform: translate(0.00121959490556px,0.00271169115545px);}
  98.1132075472%   {transform: translate(0.00107304973816px,0.00273954684843px);}
}

.drawing_a_line_with_a_marker_pen .library-card-marker
{
  animation: drawing_a_line_with_a_marker_pen_animation 0.883333333333s infinite;
}
