
@keyframes dropping_a_juggling_ball_animation
{
  0.0%   {left: 0.0%; top: 0.0%;}
  7.14285714286%   {left: 1.78831325674%; top: 19.1992072585%;}
  14.2857142857%   {left: 1.78831325674%; top: 30.5113801753%;}
  21.4285714286%   {left: 1.54058155018%; top: 47.1094045149%;}
  28.5714285714%   {left: 1.54058155018%; top: 66.6802093333%;}
  35.7142857143%   {left: 1.26597095346%; top: 87.3037500387%;}
  42.8571428571%   {left: 1.11312049051%; top: 100.0%;}
  50.0%   {left: 0.533923760567%; top: 96.8630972657%;}
  57.1428571429%   {left: 0.266373517481%; top: 96.6983556808%;}
  64.2857142857%   {left: 0.0%; top: 99.3051125631%;}
  71.4285714286%   {left: 0.312327749048%; top: 99.376954758%;}
  78.5714285714%   {left: 0.6304771932%; top: 99.6079645744%;}
  85.7142857143%   {left: 0.620753723717%; top: 99.6692781717%;}
  92.8571428571%   {left: 0.559811723903%; top: 99.6104418914%;}
}

.dropping_a_juggling_ball
{
  animation: dropping_a_juggling_ball_animation 0.467133800467s infinite;
}
