
@keyframes dropping_a_juggling_ball_animation
{
  0.0%   {transform: translate(0.0px,0.0px);}
  7.14285714286%   {transform: translate(0.0178831325674px,0.191992072585px);}
  14.2857142857%   {transform: translate(0.0178831325674px,0.305113801753px);}
  21.4285714286%   {transform: translate(0.0154058155018px,0.471094045149px);}
  28.5714285714%   {transform: translate(0.0154058155018px,0.666802093333px);}
  35.7142857143%   {transform: translate(0.0126597095346px,0.873037500387px);}
  42.8571428571%   {transform: translate(0.0111312049051px,1.0px);}
  50.0%   {transform: translate(0.00533923760567px,0.968630972657px);}
  57.1428571429%   {transform: translate(0.00266373517481px,0.966983556808px);}
  64.2857142857%   {transform: translate(0.0px,0.993051125631px);}
  71.4285714286%   {transform: translate(0.00312327749048px,0.99376954758px);}
  78.5714285714%   {transform: translate(0.006304771932px,0.996079645744px);}
  85.7142857143%   {transform: translate(0.00620753723717px,0.996692781717px);}
  92.8571428571%   {transform: translate(0.00559811723903px,0.996104418914px);}
}

.dropping_a_juggling_ball .library-card-marker
{
  animation: dropping_a_juggling_ball_animation 0.467133800467s infinite;
}
