
@keyframes handheld_camera_on_the_69_bus_animation
{
  0.0%   {transform: translate(0.0px,0.0px);}
  0.263852242744%   {transform: translate(0.195456709676px,0.0103134972632px);}
  0.527704485488%   {transform: translate(0.194703167239px,0.00116080949739px);}
  0.791556728232%   {transform: translate(0.19521077546px,0.0px);}
  1.05540897098%   {transform: translate(0.191368299276px,0.00212880656979px);}
  1.31926121372%   {transform: translate(0.185772804004px,0.00468848988522px);}
  1.58311345646%   {transform: translate(0.184674953666px,0.0100065713622px);}
  1.84696569921%   {transform: translate(0.18174538529px,0.0149331255681px);}
  2.11081794195%   {transform: translate(0.182014929191px,0.0186300086962px);}
  2.3746701847%   {transform: translate(0.183551526169px,0.022665297305px);}
  2.63852242744%   {transform: translate(0.183522014064px,0.0259608157933px);}
  2.90237467018%   {transform: translate(0.186327631594px,0.0308342482086px);}
  3.16622691293%   {transform: translate(0.191368299276px,0.0419780193836px);}
  3.43007915567%   {transform: translate(0.193335773001px,0.0517917783208px);}
  3.69393139842%   {transform: translate(0.197992783306px,0.0573498915922px);}
  3.95778364116%   {transform: translate(0.202281876026px,0.0672010325302px);}
  4.22163588391%   {transform: translate(0.20857582447px,0.0789921025605px);}
  4.48548812665%   {transform: translate(0.213970637422px,0.0878299945304px);}
  4.74934036939%   {transform: translate(0.218537143936px,0.0930477348475px);}
  5.01319261214%   {transform: translate(0.225730227873px,0.101017970905px);}
  5.27704485488%   {transform: translate(0.229641565637px,0.108403867266px);}
  5.54089709763%   {transform: translate(0.232071395687px,0.114967359611px);}
  5.80474934037%   {transform: translate(0.234391047208px,0.120869780784px);}
  6.06860158311%   {transform: translate(0.236289659352px,0.129015122003px);}
  6.33245382586%   {transform: translate(0.239772087844px,0.140513038448px);}
  6.5963060686%   {transform: translate(0.246134897868px,0.147737601964px);}
  6.86015831135%   {transform: translate(0.250677794698px,0.15266415617px);}
  7.12401055409%   {transform: translate(0.254327458457px,0.156575493934px);}
  7.38786279683%   {transform: translate(0.259431085298px,0.160026442847px);}
  7.65171503958%   {transform: translate(0.264149087289px,0.164053861561px);}
  7.91556728232%   {transform: translate(0.266447096599px,0.167197884572px);}
  8.17941952507%   {transform: translate(0.266777632185px,0.173613816387px);}
  8.44327176781%   {transform: translate(0.26712390756px,0.18157618255px);}
  8.70712401055%   {transform: translate(0.265386628262px,0.186140721591px);}
  8.9709762533%   {transform: translate(0.261644493238px,0.190937422531px);}
  9.23482849604%   {transform: translate(0.257148815778px,0.197577646351px);}
  9.49868073879%   {transform: translate(0.253851329815px,0.197868832462px);}
  9.76253298153%   {transform: translate(0.245357745747px,0.201412252639px);}
  10.0263852243%   {transform: translate(0.239663876789px,0.20839088194px);}
  10.290237467%   {transform: translate(0.231754632417px,0.212410430759px);}
  10.5540897098%   {transform: translate(0.223569941723px,0.221348663889px);}
  10.8179419525%   {transform: translate(0.214977983969px,0.22876603983px);}
  11.0817941953%   {transform: translate(0.201205667898px,0.233068904865px);}
  11.345646438%   {transform: translate(0.190107148619px,0.238701782138px);}
  11.6094986807%   {transform: translate(0.177664844786px,0.240079013745px);}
  11.8733509235%   {transform: translate(0.164775924418px,0.242906273487px);}
  12.1372031662%   {transform: translate(0.153986298513px,0.244842267632px);}
  12.401055409%   {transform: translate(0.140560257818px,0.244797015736px);}
  12.6649076517%   {transform: translate(0.124474192647px,0.248432907179px);}
  12.9287598945%   {transform: translate(0.11197679955px,0.252074701042px);}
  13.1926121372%   {transform: translate(0.0986117505401px,0.252243903783px);}
  13.4564643799%   {transform: translate(0.0853391727953px,0.250575486064px);}
  13.7203166227%   {transform: translate(0.0779080245383px,0.245995207234px);}
  13.9841688654%   {transform: translate(0.070022389851px,0.245281014272px);}
  14.2480211082%   {transform: translate(0.0595475597423px,0.240584654492px);}
  14.5118733509%   {transform: translate(0.0536903904648px,0.237096323579px);}
  14.7757255937%   {transform: translate(0.0467196310593px,0.238418465921px);}
  15.0395778364%   {transform: translate(0.0401581061885px,0.240869938182px);}
  15.3034300792%   {transform: translate(0.0381276733049px,0.244619943101px);}
  15.5672823219%   {transform: translate(0.0308499879984px,0.245987337339px);}
  15.8311345646%   {transform: translate(0.0289435059595px,0.244881617106px);}
  16.0949868074%   {transform: translate(0.0243337150232px,0.243966741824px);}
  16.3588390501%   {transform: translate(0.0184608059559px,0.241076522923px);}
  16.6226912929%   {transform: translate(0.0105673013737px,0.236734308413px);}
  16.8865435356%   {transform: translate(0.00628017612825px,0.233338448765px);}
  17.1503957784%   {transform: translate(0.000523348010687px,0.236681186623px);}
  17.4142480211%   {transform: translate(0.0px,0.238479457607px);}
  17.6781002639%   {transform: translate(0.00255968331543px,0.244067082984px);}
  17.9419525066%   {transform: translate(0.005396780426px,0.242861021591px);}
  18.2058047493%   {transform: translate(0.0235191809013px,0.238701782138px);}
  18.4696569921%   {transform: translate(0.0488799172087px,0.246825481146px);}
  18.7335092348%   {transform: translate(0.0674174546399px,0.251083094285px);}
  18.9973614776%   {transform: translate(0.0893744614041px,0.252767251793px);}
  19.2612137203%   {transform: translate(0.115020481401px,0.259706531619px);}
  19.5250659631%   {transform: translate(0.134311561269px,0.26639987723px);}
  19.7889182058%   {transform: translate(0.148776428091px,0.265878496693px);}
  20.0527704485%   {transform: translate(0.162625475637px,0.265854887008px);}
  20.3166226913%   {transform: translate(0.17724970783px,0.274586535397px);}
  20.580474934%   {transform: translate(0.185981356219px,0.277760070514px);}
  20.8443271768%   {transform: translate(0.191368299276px,0.285598485832px);}
  21.1081794195%   {transform: translate(0.192106101923px,0.294060590321px);}
  21.3720316623%   {transform: translate(0.192230052768px,0.300254197605px);}
  21.635883905%   {transform: translate(0.197577646351px,0.310170265176px);}
  21.8997361478%   {transform: translate(0.198907658588px,0.318085411969px);}
  22.1635883905%   {transform: translate(0.197701597195px,0.32301983607px);}
  22.4274406332%   {transform: translate(0.198669594268px,0.322673560695px);}
  22.691292876%   {transform: translate(0.198907658588px,0.323326761971px);}
  22.9551451187%   {transform: translate(0.201805747384px,0.321382897931px);}
  23.2189973615%   {transform: translate(0.199584469549px,0.318746483141px);}
  23.4828496042%   {transform: translate(0.195464579571px,0.311336977095px);}
  23.746701847%   {transform: translate(0.195834464631px,0.299095355582px);}
  24.0105540897%   {transform: translate(0.19727072045px,0.290017431817px);}
  24.2744063325%   {transform: translate(0.19745566298px,0.277390185454px);}
  24.5382585752%   {transform: translate(0.196286983587px,0.26048368374px);}
  24.8021108179%   {transform: translate(0.197632735615px,0.250477112378px);}
  25.0659630607%   {transform: translate(0.204387072911px,0.240970279342px);}
  25.3298153034%   {transform: translate(0.208292508254px,0.228226952029px);}
  25.5936675462%   {transform: translate(0.21104303652px,0.218611907938px);}
  25.8575197889%   {transform: translate(0.21300264035px,0.20614599442px);}
  26.1213720317%   {transform: translate(0.214977983969px,0.196770982124px);}
  26.3852242744%   {transform: translate(0.220896144932px,0.189107671967px);}
  26.6490765172%   {transform: translate(0.223577811618px,0.183413803009px);}
  26.9129287599%   {transform: translate(0.223085943187px,0.179862512936px);}
  27.1767810026%   {transform: translate(0.224201500789px,0.179862512936px);}
  27.4406332454%   {transform: translate(0.223617161093px,0.183352811323px);}
  27.7044854881%   {transform: translate(0.22219467759px,0.191106625271px);}
  27.9683377309%   {transform: translate(0.219581872484px,0.197654377826px);}
  28.2321899736%   {transform: translate(0.217638008444px,0.207729810768px);}
  28.4960422164%   {transform: translate(0.217944934345px,0.219196247634px);}
  28.7598944591%   {transform: translate(0.21742945623px,0.230971577875px);}
  29.0237467018%   {transform: translate(0.217222871489px,0.240970279342px);}
  29.2875989446%   {transform: translate(0.216506711053px,0.250506624484px);}
  29.5514511873%   {transform: translate(0.216384727682px,0.258423738751px);}
  29.8153034301%   {transform: translate(0.216583442528px,0.264318290029px);}
  30.0791556728%   {transform: translate(0.215623315351px,0.268383090744px);}
  30.3430079156%   {transform: translate(0.215308519555px,0.266386104914px);}
  30.6068601583%   {transform: translate(0.213518118466px,0.262464929781px);}
  30.8707124011%   {transform: translate(0.210566907879px,0.26022987963px);}
  31.1345646438%   {transform: translate(0.212180236333px,0.254280239087px);}
  31.3984168865%   {transform: translate(0.212195976123px,0.250231178163px);}
  31.6622691293%   {transform: translate(0.212072025278px,0.244596333416px);}
  31.926121372%   {transform: translate(0.214393644273px,0.238926074142px);}
  32.1899736148%   {transform: translate(0.218513534252px,0.238680139927px);}
  32.4538258575%   {transform: translate(0.222655066442px,0.236811039889px);}
  32.7176781003%   {transform: translate(0.227573750753px,0.238510937186px);}
  32.981530343%   {transform: translate(0.231616909256px,0.240724345126px);}
  33.2453825858%   {transform: translate(0.23552824702px,0.2445825611px);}
  33.5092348285%   {transform: translate(0.233137766445px,0.244474350045px);}
  33.7730870712%   {transform: translate(0.229665175322px,0.242668209166px);}
  34.036939314%   {transform: translate(0.227190093376px,0.246618896405px);}
  34.3007915567%   {transform: translate(0.225568895027px,0.254388450142px);}
  34.5646437995%   {transform: translate(0.224130671735px,0.26205766272px);}
  34.8284960422%   {transform: translate(0.221417525469px,0.268221757898px);}
  35.092348285%   {transform: translate(0.216553930422px,0.2780906061px);}
  35.3562005277%   {transform: translate(0.213364655515px,0.283808084743px);}
  35.6200527704%   {transform: translate(0.20451889365px,0.276168384271px);}
  35.8839050132%   {transform: translate(0.200452125462px,0.278120118206px);}
  36.1477572559%   {transform: translate(0.200068468086px,0.280111201615px);}
  36.4116094987%   {transform: translate(0.203842082689px,0.284061888853px);}
  36.6754617414%   {transform: translate(0.210112421449px,0.289834456761px);}
  36.9393139842%   {transform: translate(0.216337508313px,0.287943714512px);}
  37.2031662269%   {transform: translate(0.225606277028px,0.281832741124px);}
  37.4670184697%   {transform: translate(0.232100907792px,0.274208780442px);}
  37.7308707124%   {transform: translate(0.234859305954px,0.263625739278px);}
  37.9947229551%   {transform: translate(0.238495197397px,0.254811456993px);}
  38.2585751979%   {transform: translate(0.243545702447px,0.250268560163px);}
  38.5224274406%   {transform: translate(0.24684909083px,0.24243801474px);}
  38.7862796834%   {transform: translate(0.24936352225px,0.236120456611px);}
  39.0501319261%   {transform: translate(0.250845029965px,0.224654019746px);}
  39.3139841689%   {transform: translate(0.255456788375px,0.216691653583px);}
  39.5778364116%   {transform: translate(0.261129015122px,0.208398751835px);}
  39.8416886544%   {transform: translate(0.264133347499px,0.203003938882px);}
  40.1055408971%   {transform: translate(0.266031959643px,0.197077908025px);}
  40.3693931398%   {transform: translate(0.270466645418px,0.190961032215px);}
  40.6332453826%   {transform: translate(0.274110406756px,0.183358713744px);}
  40.8970976253%   {transform: translate(0.276022791216px,0.176665368134px);}
  41.1609498681%   {transform: translate(0.276260855536px,0.169141748612px);}
  41.4248021108%   {transform: translate(0.275847686054px,0.167097543412px);}
  41.6886543536%   {transform: translate(0.273126669893px,0.164760184628px);}
  41.9525065963%   {transform: translate(0.270728319423px,0.165405516009px);}
  42.2163588391%   {transform: translate(0.268953658124px,0.170485533166px);}
  42.4802110818%   {transform: translate(0.264886889936px,0.173230159011px);}
  42.7440633245%   {transform: translate(0.262051760299px,0.173184907116px);}
  43.0079155673%   {transform: translate(0.259206793293px,0.174335879244px);}
  43.27176781%   {transform: translate(0.258347007276px,0.176273840863px);}
  43.5356200528%   {transform: translate(0.256109989651px,0.179040108919px);}
  43.7994722955%   {transform: translate(0.252413106523px,0.183382323429px);}
  44.0633245383%   {transform: translate(0.251336898396px,0.184497881031px);}
  44.327176781%   {transform: translate(0.250815517859px,0.184527393137px);}
  44.5910290237%   {transform: translate(0.251437239556px,0.180999712749px);}
  44.8548812665%   {transform: translate(0.254795717203px,0.180684916953px);}
  45.1187335092%   {transform: translate(0.256255582707px,0.181131533488px);}
  45.382585752%   {transform: translate(0.254795717203px,0.182768471627px);}
  45.6464379947%   {transform: translate(0.254189735296px,0.184181117761px);}
  45.9102902375%   {transform: translate(0.254012662661px,0.188192796685px);}
  46.1741424802%   {transform: translate(0.254036272346px,0.190083538934px);}
  46.437994723%   {transform: translate(0.251169663129px,0.192452377299px);}
  46.7018469657%   {transform: translate(0.250553843853px,0.198215107837px);}
  46.9656992084%   {transform: translate(0.250339389217px,0.198677464162px);}
  47.2295514512%   {transform: translate(0.250677794698px,0.206761813696px);}
  47.4934036939%   {transform: translate(0.248287314123px,0.213724703207px);}
  47.7572559367%   {transform: translate(0.247163886626px,0.218090527401px);}
  48.0211081794%   {transform: translate(0.244659292575px,0.222224189696px);}
  48.2849604222%   {transform: translate(0.24263869706px,0.225960422299px);}
  48.5488126649%   {transform: translate(0.238788350982px,0.227542271173px);}
  48.8126649077%   {transform: translate(0.236958600418px,0.229488102686px);}
  49.0765171504%   {transform: translate(0.235366914175px,0.230286897018px);}
  49.3403693931%   {transform: translate(0.23138671483px,0.230186555859px);}
  49.6042216359%   {transform: translate(0.227105492006px,0.224715011431px);}
  49.8680738786%   {transform: translate(0.227674091913px,0.217453065914px);}
  50.1319261214%   {transform: translate(0.22467762943px,0.210004210394px);}
  50.3957783641%   {transform: translate(0.221641817474px,0.200052728296px);}
  50.6596306069%   {transform: translate(0.217130400224px,0.186164331275px);}
  50.9234828496%   {transform: translate(0.211987423908px,0.173253768696px);}
  51.1873350923%   {transform: translate(0.208076086144px,0.162662857638px);}
  51.4511873351%   {transform: translate(0.207015617806px,0.145976712981px);}
  51.7150395778%   {transform: translate(0.207023487701px,0.13007559034px);}
  51.9788918206%   {transform: translate(0.201435862324px,0.11170725565px);}
  52.2427440633%   {transform: translate(0.1976937273px,0.0955838084782px);}
  52.5065963061%   {transform: translate(0.19504157272px,0.0777230820082px);}
  52.7704485488%   {transform: translate(0.19326691142px,0.0711517197688px);}
  53.0343007916%   {transform: translate(0.192222182873px,0.0649581124844px);}
  53.2981530343%   {transform: translate(0.195234385145px,0.065011234275px);}
  53.562005277%   {transform: translate(0.197310069924px,0.0688458405638px);}
  53.8258575198%   {transform: translate(0.19963759134px,0.0730818114924px);}
  54.0897097625%   {transform: translate(0.20218940476px,0.0820416868333px);}
  54.3535620053%   {transform: translate(0.207369763077px,0.0862619179721px);}
  54.617414248%   {transform: translate(0.213563370361px,0.100026364148px);}
  54.8812664908%   {transform: translate(0.2177836015px,0.117672635982px);}
  55.1451187335%   {transform: translate(0.222802626971px,0.140097901493px);}
  55.4089709763%   {transform: translate(0.224715011431px,0.168695132077px);}
  55.672823219%   {transform: translate(0.222601944651px,0.196316495693px);}
  55.9366754617%   {transform: translate(0.224907823856px,0.223691925094px);}
  56.2005277045%   {transform: translate(0.223085943187px,0.260890950801px);}
  56.4643799472%   {transform: translate(0.221057477777px,0.291331704265px);}
  56.72823219%   {transform: translate(0.211489653056px,0.318077542074px);}
  56.9920844327%   {transform: translate(0.203434815628px,0.340658238009px);}
  57.2559366755%   {transform: translate(0.192936375835px,0.363144495205px);}
  57.5197889182%   {transform: translate(0.18637288349px,0.377985149508px);}
  57.7836411609%   {transform: translate(0.178672191333px,0.393902011939px);}
  58.0474934037%   {transform: translate(0.173769246812px,0.400493048915px);}
  58.3113456464%   {transform: translate(0.174274887559px,0.40110296577px);}
  58.5751978892%   {transform: translate(0.172523835944px,0.403621332137px);}
  58.8390501319%   {transform: translate(0.174845454939px,0.404506695313px);}
  59.1029023747%   {transform: translate(0.178288533957px,0.4074579059px);}
  59.3667546174%   {transform: translate(0.181615532025px,0.412789759693px);}
  59.6306068602%   {transform: translate(0.183614485329px,0.413183254438px);}
  59.8944591029%   {transform: translate(0.186235160329px,0.41473755868px);}
  60.1583113456%   {transform: translate(0.185365536943px,0.408854812244px);}
  60.4221635884%   {transform: translate(0.181800474555px,0.393941361413px);}
  60.6860158311%   {transform: translate(0.178571850173px,0.37230702034px);}
  60.9498680739%   {transform: translate(0.174605423145px,0.348205467216px);}
  61.2137203166%   {transform: translate(0.176443043603px,0.31847693924px);}
  61.4775725594%   {transform: translate(0.17478249578px,0.284085498538px);}
  61.7414248021%   {transform: translate(0.172354633204px,0.243712937714px);}
  62.0052770449%   {transform: translate(0.177373658675px,0.198516131317px);}
  62.2691292876%   {transform: translate(0.182276603196px,0.161187252344px);}
  62.5329815303%   {transform: translate(0.192452377299px,0.129884745389px);}
  62.7968337731%   {transform: translate(0.202797354141px,0.099825681828px);}
  63.0606860158%   {transform: translate(0.213486638886px,0.0791219558263px);}
  63.3245382586%   {transform: translate(0.22466188964px,0.066217295668px);}
  63.5883905013%   {transform: translate(0.233560773296px,0.0591481625763px);}
  63.8522427441%   {transform: translate(0.246772359355px,0.0594924704781px);}
  64.1160949868%   {transform: translate(0.265071832466px,0.0605155568147px);}
  64.3799472296%   {transform: translate(0.275155135303px,0.0628745578103px);}
  64.6437994723%   {transform: translate(0.285545364042px,0.066010710927px);}
  64.907651715%   {transform: translate(0.295475203929px,0.0660185808219px);}
  65.1715039578%   {transform: translate(0.309639047271px,0.0681552572865px);}
  65.4353562005%   {transform: translate(0.322012489523px,0.0699299185859px);}
  65.6992084433%   {transform: translate(0.328930127138px,0.0705988596522px);}
  65.963060686%   {transform: translate(0.33407113598px,0.0751791384826px);}
  66.2269129288%   {transform: translate(0.342533240469px,0.0802748954288px);}
  66.4907651715%   {transform: translate(0.345362467684px,0.0857936592257px);}
  66.7546174142%   {transform: translate(0.346798723503px,0.0858231713315px);}
  67.018469657%   {transform: translate(0.3474204452px,0.0899194516257px);}
  67.2823218997%   {transform: translate(0.343762911546px,0.10067169553px);}
  67.5461741425%   {transform: translate(0.334380029355px,0.107388650825px);}
  67.8100263852%   {transform: translate(0.328869135453px,0.119201363066px);}
  68.073878628%   {transform: translate(0.319730220003px,0.125318238875px);}
  68.3377308707%   {transform: translate(0.313751067354px,0.135340550027px);}
  68.6015831135%   {transform: translate(0.305881172457px,0.143479988825px);}
  68.8654353562%   {transform: translate(0.298479536306px,0.152809749226px);}
  69.1292875989%   {transform: translate(0.293322787674px,0.164815273892px);}
  69.3931398417%   {transform: translate(0.284622618865px,0.1723998851px);}
  69.6569920844%   {transform: translate(0.283670361582px,0.179063718604px);}
  69.9208443272%   {transform: translate(0.281848480914px,0.193766649746px);}
  70.1846965699%   {transform: translate(0.281649766067px,0.207883273719px);}
  70.4485488127%   {transform: translate(0.282395438609px,0.222070726745px);}
  70.7124010554%   {transform: translate(0.281033946792px,0.236543463462px);}
  70.9762532982%   {transform: translate(0.284477025809px,0.249438286252px);}
  71.2401055409%   {transform: translate(0.285952631103px,0.262710863996px);}
  71.5039577836%   {transform: translate(0.285690957097px,0.274808859928px);}
  71.7678100264%   {transform: translate(0.287843373352px,0.287565959557px);}
  72.0316622691%   {transform: translate(0.283017160306px,0.300140084129px);}
  72.2955145119%   {transform: translate(0.281848480914px,0.307880125761px);}
  72.5593667546%   {transform: translate(0.282241975658px,0.309147178839px);}
  72.8232189974%   {transform: translate(0.279936096453px,0.314404268631px);}
  73.0870712401%   {transform: translate(0.27819094726px,0.316017597085px);}
  73.3509234828%   {transform: translate(0.276461537856px,0.315932995715px);}
  73.6147757256%   {transform: translate(0.271765178076px,0.317924079124px);}
  73.8786279683%   {transform: translate(0.264149087289px,0.31406586315px);}
  74.1424802111%   {transform: translate(0.253996922871px,0.311069400668px);}
  74.4063324538%   {transform: translate(0.241938276414px,0.30683342974px);}
  74.6701846966%   {transform: translate(0.227520628962px,0.298817941786px);}
  74.9340369393%   {transform: translate(0.213333175935px,0.291201850999px);}
  75.1978891821%   {transform: translate(0.1997379325px,0.282694494615px);}
  75.4617414248%   {transform: translate(0.18625680254px,0.271172968485px);}
  75.7255936675%   {transform: translate(0.173544954807px,0.257392782519px);}
  75.9894459103%   {transform: translate(0.159928069161px,0.243091216017px);}
  76.253298153%   {transform: translate(0.147792691229px,0.227774433072px);}
  76.5171503958%   {transform: translate(0.142519861647px,0.214515627644px);}
  76.7810026385%   {transform: translate(0.140105771387px,0.204172618275px);}
  77.0448548813%   {transform: translate(0.137231292276px,0.194480842708px);}
  77.308707124%   {transform: translate(0.13235195744px,0.188155414684px);}
  77.5725593668%   {transform: translate(0.124442713068px,0.191130234956px);}
  77.8364116095%   {transform: translate(0.118603251054px,0.197855060146px);}
  78.1002638522%   {transform: translate(0.110810087631px,0.208782409211px);}
  78.364116095%   {transform: translate(0.100917629745px,0.223361389509px);}
  78.6279683377%   {transform: translate(0.0909582777522px,0.236120456611px);}
  78.8918205805%   {transform: translate(0.0816895090366px,0.251883856091px);}
  79.1556728232%   {transform: translate(0.0760645016586px,0.271257569855px);}
  79.419525066%   {transform: translate(0.0681867368661px,0.289419319805px);}
  79.6833773087%   {transform: translate(0.0637127016169px,0.308525457143px);}
  79.9472295515%   {transform: translate(0.0597482420622px,0.324064564618px);}
  80.2110817942%   {transform: translate(0.063704831722px,0.33405539619px);}
  80.4749340369%   {transform: translate(0.0700066500612px,0.339611541988px);}
  80.7387862797%   {transform: translate(0.0750807647964px,0.336646559085px);}
  81.0026385224%   {transform: translate(0.0830490333802px,0.326246492978px);}
  81.2664907652%   {transform: translate(0.0892052586638px,0.30911569926px);}
  81.5303430079%   {transform: translate(0.0948086238308px,0.290831965939px);}
  81.7941952507%   {transform: translate(0.0990898466551px,0.265847017113px);}
  82.0580474934%   {transform: translate(0.102877233575px,0.241300814928px);}
  82.3218997361%   {transform: translate(0.101755773552px,0.218365973722px);}
  82.5857519789%   {transform: translate(0.0976752330473px,0.192489759299px);}
  82.8496042216%   {transform: translate(0.0954696950022px,0.17280715216px);}
  83.1134564644%   {transform: translate(0.0918888928238px,0.161218731924px);}
  83.3773087071%   {transform: translate(0.0892367382434px,0.14779859365px);}
  83.6411609499%   {transform: translate(0.0874384672593px,0.134994274651px);}
  83.9050131926%   {transform: translate(0.0797908968926px,0.129985086549px);}
  84.1688654354%   {transform: translate(0.0760704040798px,0.12549531151px);}
  84.4327176781%   {transform: translate(0.0742426209898px,0.127086997753px);}
  84.6965699208%   {transform: translate(0.0715825965144px,0.131006205412px);}
  84.9604221636%   {transform: translate(0.066295994617px,0.131614154793px);}
  85.2242744063%   {transform: translate(0.0632601826603px,0.133626880413px);}
  85.4881266491%   {transform: translate(0.0614146923068px,0.139706374221px);}
  85.7519788918%   {transform: translate(0.0598702254331px,0.14789893481px);}
  86.0158311346%   {transform: translate(0.0597246323775px,0.15497790527px);}
  86.2796833773%   {transform: translate(0.0604860447089px,0.164829046208px);}
  86.5435356201%   {transform: translate(0.0623374374835px,0.177125756986px);}
  86.8073878628%   {transform: translate(0.0673564629544px,0.188356097004px);}
  87.0712401055%   {transform: translate(0.0693318065737px,0.201774267805px);}
  87.3350923483%   {transform: translate(0.067409584745px,0.214793041439px);}
  87.598944591%   {transform: translate(0.0619301704226px,0.227634742438px);}
  87.8627968338%   {transform: translate(0.0557896849288px,0.241385416298px);}
  88.1266490765%   {transform: translate(0.048649722783px,0.251437239556px);}
  88.3905013193%   {transform: translate(0.0400184155541px,0.259145801608px);}
  88.654353562%   {transform: translate(0.0319793179162px,0.267753499152px);}
  88.9182058047%   {transform: translate(0.0237631476432px,0.277207210398px);}
  89.1820580475%   {transform: translate(0.0202374347291px,0.286468109218px);}
  89.4459102902%   {transform: translate(0.0207981647405px,0.29346838073px);}
  89.709762533%   {transform: translate(0.0212428138022px,0.303290009562px);}
  89.9736147757%   {transform: translate(0.0298977307158px,0.309009455679px);}
  90.2374670185%   {transform: translate(0.0402427075586px,0.314541991792px);}
  90.5013192612%   {transform: translate(0.0561202205145px,0.320021406114px);}
  90.765171504%   {transform: translate(0.0724522199006px,0.326224850767px);}
  91.0290237467%   {transform: translate(0.0924102733608px,0.329974855686px);}
  91.2928759894%   {transform: translate(0.110694006682px,0.332373206156px);}
  91.5567282322%   {transform: translate(0.129339755168px,0.332756863532px);}
  91.8205804749%   {transform: translate(0.148260949975px,0.332249255311px);}
  92.0844327177%   {transform: translate(0.166121676445px,0.330789389808px);}
  92.3482849604%   {transform: translate(0.179425733769px,0.325740852231px);}
  92.6121372032%   {transform: translate(0.190307830939px,0.319745959793px);}
  92.8759894459%   {transform: translate(0.19975367229px,0.31406586315px);}
  93.1398416887%   {transform: translate(0.205486890723px,0.307933247551px);}
  93.4036939314%   {transform: translate(0.207531095922px,0.302015086589px);}
  93.6675461741%   {transform: translate(0.207777030138px,0.296966549012px);}
  93.9313984169%   {transform: translate(0.211442433686px,0.288581175998px);}
  94.1952506596%   {transform: translate(0.211082385995px,0.283339825997px);}
  94.4591029024%   {transform: translate(0.209236895641px,0.274462584552px);}
  94.7229551451%   {transform: translate(0.205648223568px,0.263694600859px);}
  94.9868073879%   {transform: translate(0.203064930568px,0.255480398059px);}
  95.2506596306%   {transform: translate(0.203064930568px,0.245397095222px);}
  95.5145118734%   {transform: translate(0.202213014445px,0.235996505767px);}
  95.7783641161%   {transform: translate(0.199007999748px,0.224445467531px);}
  96.0422163588%   {transform: translate(0.194142437228px,0.214669090594px);}
  96.3060686016%   {transform: translate(0.190400302204px,0.204125398905px);}
  96.5699208443%   {transform: translate(0.183453152483px,0.194203428913px);}
  96.8337730871%   {transform: translate(0.176427303813px,0.180309129472px);}
  97.0976253298%   {transform: translate(0.168419685755px,0.167304128153px);}
  97.3614775726%   {transform: translate(0.16378431766px,0.154739840949px);}
  97.6253298153%   {transform: translate(0.160549790858px,0.139005953575px);}
  97.889182058%   {transform: translate(0.158267521337px,0.125312336454px);}
  98.1530343008%   {transform: translate(0.151765020678px,0.111646263964px);}
  98.4168865435%   {transform: translate(0.146584662362px,0.0956841496382px);}
  98.6807387863%   {transform: translate(0.142628072702px,0.0880149370605px);}
  98.944591029%   {transform: translate(0.138323240193px,0.0809595762849px);}
  99.2084432718%   {transform: translate(0.132957939347px,0.0742642632008px);}
  99.4722955145%   {transform: translate(0.129316145483px,0.0687081174031px);}
  99.7361477573%   {transform: translate(0.126494788162px,0.0667799931532px);}
}

.handheld_camera_on_the_69_bus .library-card-marker
{
  animation: handheld_camera_on_the_69_bus_animation 12.6333333333s infinite;
}
