
@keyframes handheld_camera_on_the_69_bus_animation
{
  0.0%   {left: 0.0%; top: 0.0%;}
  0.263852242744%   {left: 19.5456709676%; top: 1.03134972632%;}
  0.527704485488%   {left: 19.4703167239%; top: 0.116080949739%;}
  0.791556728232%   {left: 19.521077546%; top: 0.0%;}
  1.05540897098%   {left: 19.1368299276%; top: 0.212880656979%;}
  1.31926121372%   {left: 18.5772804004%; top: 0.468848988522%;}
  1.58311345646%   {left: 18.4674953666%; top: 1.00065713622%;}
  1.84696569921%   {left: 18.174538529%; top: 1.49331255681%;}
  2.11081794195%   {left: 18.2014929191%; top: 1.86300086962%;}
  2.3746701847%   {left: 18.3551526169%; top: 2.2665297305%;}
  2.63852242744%   {left: 18.3522014064%; top: 2.59608157933%;}
  2.90237467018%   {left: 18.6327631594%; top: 3.08342482086%;}
  3.16622691293%   {left: 19.1368299276%; top: 4.19780193836%;}
  3.43007915567%   {left: 19.3335773001%; top: 5.17917783208%;}
  3.69393139842%   {left: 19.7992783306%; top: 5.73498915922%;}
  3.95778364116%   {left: 20.2281876026%; top: 6.72010325302%;}
  4.22163588391%   {left: 20.857582447%; top: 7.89921025605%;}
  4.48548812665%   {left: 21.3970637422%; top: 8.78299945304%;}
  4.74934036939%   {left: 21.8537143936%; top: 9.30477348475%;}
  5.01319261214%   {left: 22.5730227873%; top: 10.1017970905%;}
  5.27704485488%   {left: 22.9641565637%; top: 10.8403867266%;}
  5.54089709763%   {left: 23.2071395687%; top: 11.4967359611%;}
  5.80474934037%   {left: 23.4391047208%; top: 12.0869780784%;}
  6.06860158311%   {left: 23.6289659352%; top: 12.9015122003%;}
  6.33245382586%   {left: 23.9772087844%; top: 14.0513038448%;}
  6.5963060686%   {left: 24.6134897868%; top: 14.7737601964%;}
  6.86015831135%   {left: 25.0677794698%; top: 15.266415617%;}
  7.12401055409%   {left: 25.4327458457%; top: 15.6575493934%;}
  7.38786279683%   {left: 25.9431085298%; top: 16.0026442847%;}
  7.65171503958%   {left: 26.4149087289%; top: 16.4053861561%;}
  7.91556728232%   {left: 26.6447096599%; top: 16.7197884572%;}
  8.17941952507%   {left: 26.6777632185%; top: 17.3613816387%;}
  8.44327176781%   {left: 26.712390756%; top: 18.157618255%;}
  8.70712401055%   {left: 26.5386628262%; top: 18.6140721591%;}
  8.9709762533%   {left: 26.1644493238%; top: 19.0937422531%;}
  9.23482849604%   {left: 25.7148815778%; top: 19.7577646351%;}
  9.49868073879%   {left: 25.3851329815%; top: 19.7868832462%;}
  9.76253298153%   {left: 24.5357745747%; top: 20.1412252639%;}
  10.0263852243%   {left: 23.9663876789%; top: 20.839088194%;}
  10.290237467%   {left: 23.1754632417%; top: 21.2410430759%;}
  10.5540897098%   {left: 22.3569941723%; top: 22.1348663889%;}
  10.8179419525%   {left: 21.4977983969%; top: 22.876603983%;}
  11.0817941953%   {left: 20.1205667898%; top: 23.3068904865%;}
  11.345646438%   {left: 19.0107148619%; top: 23.8701782138%;}
  11.6094986807%   {left: 17.7664844786%; top: 24.0079013745%;}
  11.8733509235%   {left: 16.4775924418%; top: 24.2906273487%;}
  12.1372031662%   {left: 15.3986298513%; top: 24.4842267632%;}
  12.401055409%   {left: 14.0560257818%; top: 24.4797015736%;}
  12.6649076517%   {left: 12.4474192647%; top: 24.8432907179%;}
  12.9287598945%   {left: 11.197679955%; top: 25.2074701042%;}
  13.1926121372%   {left: 9.86117505401%; top: 25.2243903783%;}
  13.4564643799%   {left: 8.53391727953%; top: 25.0575486064%;}
  13.7203166227%   {left: 7.79080245383%; top: 24.5995207234%;}
  13.9841688654%   {left: 7.0022389851%; top: 24.5281014272%;}
  14.2480211082%   {left: 5.95475597423%; top: 24.0584654492%;}
  14.5118733509%   {left: 5.36903904648%; top: 23.7096323579%;}
  14.7757255937%   {left: 4.67196310593%; top: 23.8418465921%;}
  15.0395778364%   {left: 4.01581061885%; top: 24.0869938182%;}
  15.3034300792%   {left: 3.81276733049%; top: 24.4619943101%;}
  15.5672823219%   {left: 3.08499879984%; top: 24.5987337339%;}
  15.8311345646%   {left: 2.89435059595%; top: 24.4881617106%;}
  16.0949868074%   {left: 2.43337150232%; top: 24.3966741824%;}
  16.3588390501%   {left: 1.84608059559%; top: 24.1076522923%;}
  16.6226912929%   {left: 1.05673013737%; top: 23.6734308413%;}
  16.8865435356%   {left: 0.628017612825%; top: 23.3338448765%;}
  17.1503957784%   {left: 0.0523348010687%; top: 23.6681186623%;}
  17.4142480211%   {left: 0.0%; top: 23.8479457607%;}
  17.6781002639%   {left: 0.255968331543%; top: 24.4067082984%;}
  17.9419525066%   {left: 0.5396780426%; top: 24.2861021591%;}
  18.2058047493%   {left: 2.35191809013%; top: 23.8701782138%;}
  18.4696569921%   {left: 4.88799172087%; top: 24.6825481146%;}
  18.7335092348%   {left: 6.74174546399%; top: 25.1083094285%;}
  18.9973614776%   {left: 8.93744614041%; top: 25.2767251793%;}
  19.2612137203%   {left: 11.5020481401%; top: 25.9706531619%;}
  19.5250659631%   {left: 13.4311561269%; top: 26.639987723%;}
  19.7889182058%   {left: 14.8776428091%; top: 26.5878496693%;}
  20.0527704485%   {left: 16.2625475637%; top: 26.5854887008%;}
  20.3166226913%   {left: 17.724970783%; top: 27.4586535397%;}
  20.580474934%   {left: 18.5981356219%; top: 27.7760070514%;}
  20.8443271768%   {left: 19.1368299276%; top: 28.5598485832%;}
  21.1081794195%   {left: 19.2106101923%; top: 29.4060590321%;}
  21.3720316623%   {left: 19.2230052768%; top: 30.0254197605%;}
  21.635883905%   {left: 19.7577646351%; top: 31.0170265176%;}
  21.8997361478%   {left: 19.8907658588%; top: 31.8085411969%;}
  22.1635883905%   {left: 19.7701597195%; top: 32.301983607%;}
  22.4274406332%   {left: 19.8669594268%; top: 32.2673560695%;}
  22.691292876%   {left: 19.8907658588%; top: 32.3326761971%;}
  22.9551451187%   {left: 20.1805747384%; top: 32.1382897931%;}
  23.2189973615%   {left: 19.9584469549%; top: 31.8746483141%;}
  23.4828496042%   {left: 19.5464579571%; top: 31.1336977095%;}
  23.746701847%   {left: 19.5834464631%; top: 29.9095355582%;}
  24.0105540897%   {left: 19.727072045%; top: 29.0017431817%;}
  24.2744063325%   {left: 19.745566298%; top: 27.7390185454%;}
  24.5382585752%   {left: 19.6286983587%; top: 26.048368374%;}
  24.8021108179%   {left: 19.7632735615%; top: 25.0477112378%;}
  25.0659630607%   {left: 20.4387072911%; top: 24.0970279342%;}
  25.3298153034%   {left: 20.8292508254%; top: 22.8226952029%;}
  25.5936675462%   {left: 21.104303652%; top: 21.8611907938%;}
  25.8575197889%   {left: 21.300264035%; top: 20.614599442%;}
  26.1213720317%   {left: 21.4977983969%; top: 19.6770982124%;}
  26.3852242744%   {left: 22.0896144932%; top: 18.9107671967%;}
  26.6490765172%   {left: 22.3577811618%; top: 18.3413803009%;}
  26.9129287599%   {left: 22.3085943187%; top: 17.9862512936%;}
  27.1767810026%   {left: 22.4201500789%; top: 17.9862512936%;}
  27.4406332454%   {left: 22.3617161093%; top: 18.3352811323%;}
  27.7044854881%   {left: 22.219467759%; top: 19.1106625271%;}
  27.9683377309%   {left: 21.9581872484%; top: 19.7654377826%;}
  28.2321899736%   {left: 21.7638008444%; top: 20.7729810768%;}
  28.4960422164%   {left: 21.7944934345%; top: 21.9196247634%;}
  28.7598944591%   {left: 21.742945623%; top: 23.0971577875%;}
  29.0237467018%   {left: 21.7222871489%; top: 24.0970279342%;}
  29.2875989446%   {left: 21.6506711053%; top: 25.0506624484%;}
  29.5514511873%   {left: 21.6384727682%; top: 25.8423738751%;}
  29.8153034301%   {left: 21.6583442528%; top: 26.4318290029%;}
  30.0791556728%   {left: 21.5623315351%; top: 26.8383090744%;}
  30.3430079156%   {left: 21.5308519555%; top: 26.6386104914%;}
  30.6068601583%   {left: 21.3518118466%; top: 26.2464929781%;}
  30.8707124011%   {left: 21.0566907879%; top: 26.022987963%;}
  31.1345646438%   {left: 21.2180236333%; top: 25.4280239087%;}
  31.3984168865%   {left: 21.2195976123%; top: 25.0231178163%;}
  31.6622691293%   {left: 21.2072025278%; top: 24.4596333416%;}
  31.926121372%   {left: 21.4393644273%; top: 23.8926074142%;}
  32.1899736148%   {left: 21.8513534252%; top: 23.8680139927%;}
  32.4538258575%   {left: 22.2655066442%; top: 23.6811039889%;}
  32.7176781003%   {left: 22.7573750753%; top: 23.8510937186%;}
  32.981530343%   {left: 23.1616909256%; top: 24.0724345126%;}
  33.2453825858%   {left: 23.552824702%; top: 24.45825611%;}
  33.5092348285%   {left: 23.3137766445%; top: 24.4474350045%;}
  33.7730870712%   {left: 22.9665175322%; top: 24.2668209166%;}
  34.036939314%   {left: 22.7190093376%; top: 24.6618896405%;}
  34.3007915567%   {left: 22.5568895027%; top: 25.4388450142%;}
  34.5646437995%   {left: 22.4130671735%; top: 26.205766272%;}
  34.8284960422%   {left: 22.1417525469%; top: 26.8221757898%;}
  35.092348285%   {left: 21.6553930422%; top: 27.80906061%;}
  35.3562005277%   {left: 21.3364655515%; top: 28.3808084743%;}
  35.6200527704%   {left: 20.451889365%; top: 27.6168384271%;}
  35.8839050132%   {left: 20.0452125462%; top: 27.8120118206%;}
  36.1477572559%   {left: 20.0068468086%; top: 28.0111201615%;}
  36.4116094987%   {left: 20.3842082689%; top: 28.4061888853%;}
  36.6754617414%   {left: 21.0112421449%; top: 28.9834456761%;}
  36.9393139842%   {left: 21.6337508313%; top: 28.7943714512%;}
  37.2031662269%   {left: 22.5606277028%; top: 28.1832741124%;}
  37.4670184697%   {left: 23.2100907792%; top: 27.4208780442%;}
  37.7308707124%   {left: 23.4859305954%; top: 26.3625739278%;}
  37.9947229551%   {left: 23.8495197397%; top: 25.4811456993%;}
  38.2585751979%   {left: 24.3545702447%; top: 25.0268560163%;}
  38.5224274406%   {left: 24.684909083%; top: 24.243801474%;}
  38.7862796834%   {left: 24.936352225%; top: 23.6120456611%;}
  39.0501319261%   {left: 25.0845029965%; top: 22.4654019746%;}
  39.3139841689%   {left: 25.5456788375%; top: 21.6691653583%;}
  39.5778364116%   {left: 26.1129015122%; top: 20.8398751835%;}
  39.8416886544%   {left: 26.4133347499%; top: 20.3003938882%;}
  40.1055408971%   {left: 26.6031959643%; top: 19.7077908025%;}
  40.3693931398%   {left: 27.0466645418%; top: 19.0961032215%;}
  40.6332453826%   {left: 27.4110406756%; top: 18.3358713744%;}
  40.8970976253%   {left: 27.6022791216%; top: 17.6665368134%;}
  41.1609498681%   {left: 27.6260855536%; top: 16.9141748612%;}
  41.4248021108%   {left: 27.5847686054%; top: 16.7097543412%;}
  41.6886543536%   {left: 27.3126669893%; top: 16.4760184628%;}
  41.9525065963%   {left: 27.0728319423%; top: 16.5405516009%;}
  42.2163588391%   {left: 26.8953658124%; top: 17.0485533166%;}
  42.4802110818%   {left: 26.4886889936%; top: 17.3230159011%;}
  42.7440633245%   {left: 26.2051760299%; top: 17.3184907116%;}
  43.0079155673%   {left: 25.9206793293%; top: 17.4335879244%;}
  43.27176781%   {left: 25.8347007276%; top: 17.6273840863%;}
  43.5356200528%   {left: 25.6109989651%; top: 17.9040108919%;}
  43.7994722955%   {left: 25.2413106523%; top: 18.3382323429%;}
  44.0633245383%   {left: 25.1336898396%; top: 18.4497881031%;}
  44.327176781%   {left: 25.0815517859%; top: 18.4527393137%;}
  44.5910290237%   {left: 25.1437239556%; top: 18.0999712749%;}
  44.8548812665%   {left: 25.4795717203%; top: 18.0684916953%;}
  45.1187335092%   {left: 25.6255582707%; top: 18.1131533488%;}
  45.382585752%   {left: 25.4795717203%; top: 18.2768471627%;}
  45.6464379947%   {left: 25.4189735296%; top: 18.4181117761%;}
  45.9102902375%   {left: 25.4012662661%; top: 18.8192796685%;}
  46.1741424802%   {left: 25.4036272346%; top: 19.0083538934%;}
  46.437994723%   {left: 25.1169663129%; top: 19.2452377299%;}
  46.7018469657%   {left: 25.0553843853%; top: 19.8215107837%;}
  46.9656992084%   {left: 25.0339389217%; top: 19.8677464162%;}
  47.2295514512%   {left: 25.0677794698%; top: 20.6761813696%;}
  47.4934036939%   {left: 24.8287314123%; top: 21.3724703207%;}
  47.7572559367%   {left: 24.7163886626%; top: 21.8090527401%;}
  48.0211081794%   {left: 24.4659292575%; top: 22.2224189696%;}
  48.2849604222%   {left: 24.263869706%; top: 22.5960422299%;}
  48.5488126649%   {left: 23.8788350982%; top: 22.7542271173%;}
  48.8126649077%   {left: 23.6958600418%; top: 22.9488102686%;}
  49.0765171504%   {left: 23.5366914175%; top: 23.0286897018%;}
  49.3403693931%   {left: 23.138671483%; top: 23.0186555859%;}
  49.6042216359%   {left: 22.7105492006%; top: 22.4715011431%;}
  49.8680738786%   {left: 22.7674091913%; top: 21.7453065914%;}
  50.1319261214%   {left: 22.467762943%; top: 21.0004210394%;}
  50.3957783641%   {left: 22.1641817474%; top: 20.0052728296%;}
  50.6596306069%   {left: 21.7130400224%; top: 18.6164331275%;}
  50.9234828496%   {left: 21.1987423908%; top: 17.3253768696%;}
  51.1873350923%   {left: 20.8076086144%; top: 16.2662857638%;}
  51.4511873351%   {left: 20.7015617806%; top: 14.5976712981%;}
  51.7150395778%   {left: 20.7023487701%; top: 13.007559034%;}
  51.9788918206%   {left: 20.1435862324%; top: 11.170725565%;}
  52.2427440633%   {left: 19.76937273%; top: 9.55838084782%;}
  52.5065963061%   {left: 19.504157272%; top: 7.77230820082%;}
  52.7704485488%   {left: 19.326691142%; top: 7.11517197688%;}
  53.0343007916%   {left: 19.2222182873%; top: 6.49581124844%;}
  53.2981530343%   {left: 19.5234385145%; top: 6.5011234275%;}
  53.562005277%   {left: 19.7310069924%; top: 6.88458405638%;}
  53.8258575198%   {left: 19.963759134%; top: 7.30818114924%;}
  54.0897097625%   {left: 20.218940476%; top: 8.20416868333%;}
  54.3535620053%   {left: 20.7369763077%; top: 8.62619179721%;}
  54.617414248%   {left: 21.3563370361%; top: 10.0026364148%;}
  54.8812664908%   {left: 21.77836015%; top: 11.7672635982%;}
  55.1451187335%   {left: 22.2802626971%; top: 14.0097901493%;}
  55.4089709763%   {left: 22.4715011431%; top: 16.8695132077%;}
  55.672823219%   {left: 22.2601944651%; top: 19.6316495693%;}
  55.9366754617%   {left: 22.4907823856%; top: 22.3691925094%;}
  56.2005277045%   {left: 22.3085943187%; top: 26.0890950801%;}
  56.4643799472%   {left: 22.1057477777%; top: 29.1331704265%;}
  56.72823219%   {left: 21.1489653056%; top: 31.8077542074%;}
  56.9920844327%   {left: 20.3434815628%; top: 34.0658238009%;}
  57.2559366755%   {left: 19.2936375835%; top: 36.3144495205%;}
  57.5197889182%   {left: 18.637288349%; top: 37.7985149508%;}
  57.7836411609%   {left: 17.8672191333%; top: 39.3902011939%;}
  58.0474934037%   {left: 17.3769246812%; top: 40.0493048915%;}
  58.3113456464%   {left: 17.4274887559%; top: 40.110296577%;}
  58.5751978892%   {left: 17.2523835944%; top: 40.3621332137%;}
  58.8390501319%   {left: 17.4845454939%; top: 40.4506695313%;}
  59.1029023747%   {left: 17.8288533957%; top: 40.74579059%;}
  59.3667546174%   {left: 18.1615532025%; top: 41.2789759693%;}
  59.6306068602%   {left: 18.3614485329%; top: 41.3183254438%;}
  59.8944591029%   {left: 18.6235160329%; top: 41.473755868%;}
  60.1583113456%   {left: 18.5365536943%; top: 40.8854812244%;}
  60.4221635884%   {left: 18.1800474555%; top: 39.3941361413%;}
  60.6860158311%   {left: 17.8571850173%; top: 37.230702034%;}
  60.9498680739%   {left: 17.4605423145%; top: 34.8205467216%;}
  61.2137203166%   {left: 17.6443043603%; top: 31.847693924%;}
  61.4775725594%   {left: 17.478249578%; top: 28.4085498538%;}
  61.7414248021%   {left: 17.2354633204%; top: 24.3712937714%;}
  62.0052770449%   {left: 17.7373658675%; top: 19.8516131317%;}
  62.2691292876%   {left: 18.2276603196%; top: 16.1187252344%;}
  62.5329815303%   {left: 19.2452377299%; top: 12.9884745389%;}
  62.7968337731%   {left: 20.2797354141%; top: 9.9825681828%;}
  63.0606860158%   {left: 21.3486638886%; top: 7.91219558263%;}
  63.3245382586%   {left: 22.466188964%; top: 6.6217295668%;}
  63.5883905013%   {left: 23.3560773296%; top: 5.91481625763%;}
  63.8522427441%   {left: 24.6772359355%; top: 5.94924704781%;}
  64.1160949868%   {left: 26.5071832466%; top: 6.05155568147%;}
  64.3799472296%   {left: 27.5155135303%; top: 6.28745578103%;}
  64.6437994723%   {left: 28.5545364042%; top: 6.6010710927%;}
  64.907651715%   {left: 29.5475203929%; top: 6.60185808219%;}
  65.1715039578%   {left: 30.9639047271%; top: 6.81552572865%;}
  65.4353562005%   {left: 32.2012489523%; top: 6.99299185859%;}
  65.6992084433%   {left: 32.8930127138%; top: 7.05988596522%;}
  65.963060686%   {left: 33.407113598%; top: 7.51791384826%;}
  66.2269129288%   {left: 34.2533240469%; top: 8.02748954288%;}
  66.4907651715%   {left: 34.5362467684%; top: 8.57936592257%;}
  66.7546174142%   {left: 34.6798723503%; top: 8.58231713315%;}
  67.018469657%   {left: 34.74204452%; top: 8.99194516257%;}
  67.2823218997%   {left: 34.3762911546%; top: 10.067169553%;}
  67.5461741425%   {left: 33.4380029355%; top: 10.7388650825%;}
  67.8100263852%   {left: 32.8869135453%; top: 11.9201363066%;}
  68.073878628%   {left: 31.9730220003%; top: 12.5318238875%;}
  68.3377308707%   {left: 31.3751067354%; top: 13.5340550027%;}
  68.6015831135%   {left: 30.5881172457%; top: 14.3479988825%;}
  68.8654353562%   {left: 29.8479536306%; top: 15.2809749226%;}
  69.1292875989%   {left: 29.3322787674%; top: 16.4815273892%;}
  69.3931398417%   {left: 28.4622618865%; top: 17.23998851%;}
  69.6569920844%   {left: 28.3670361582%; top: 17.9063718604%;}
  69.9208443272%   {left: 28.1848480914%; top: 19.3766649746%;}
  70.1846965699%   {left: 28.1649766067%; top: 20.7883273719%;}
  70.4485488127%   {left: 28.2395438609%; top: 22.2070726745%;}
  70.7124010554%   {left: 28.1033946792%; top: 23.6543463462%;}
  70.9762532982%   {left: 28.4477025809%; top: 24.9438286252%;}
  71.2401055409%   {left: 28.5952631103%; top: 26.2710863996%;}
  71.5039577836%   {left: 28.5690957097%; top: 27.4808859928%;}
  71.7678100264%   {left: 28.7843373352%; top: 28.7565959557%;}
  72.0316622691%   {left: 28.3017160306%; top: 30.0140084129%;}
  72.2955145119%   {left: 28.1848480914%; top: 30.7880125761%;}
  72.5593667546%   {left: 28.2241975658%; top: 30.9147178839%;}
  72.8232189974%   {left: 27.9936096453%; top: 31.4404268631%;}
  73.0870712401%   {left: 27.819094726%; top: 31.6017597085%;}
  73.3509234828%   {left: 27.6461537856%; top: 31.5932995715%;}
  73.6147757256%   {left: 27.1765178076%; top: 31.7924079124%;}
  73.8786279683%   {left: 26.4149087289%; top: 31.406586315%;}
  74.1424802111%   {left: 25.3996922871%; top: 31.1069400668%;}
  74.4063324538%   {left: 24.1938276414%; top: 30.683342974%;}
  74.6701846966%   {left: 22.7520628962%; top: 29.8817941786%;}
  74.9340369393%   {left: 21.3333175935%; top: 29.1201850999%;}
  75.1978891821%   {left: 19.97379325%; top: 28.2694494615%;}
  75.4617414248%   {left: 18.625680254%; top: 27.1172968485%;}
  75.7255936675%   {left: 17.3544954807%; top: 25.7392782519%;}
  75.9894459103%   {left: 15.9928069161%; top: 24.3091216017%;}
  76.253298153%   {left: 14.7792691229%; top: 22.7774433072%;}
  76.5171503958%   {left: 14.2519861647%; top: 21.4515627644%;}
  76.7810026385%   {left: 14.0105771387%; top: 20.4172618275%;}
  77.0448548813%   {left: 13.7231292276%; top: 19.4480842708%;}
  77.308707124%   {left: 13.235195744%; top: 18.8155414684%;}
  77.5725593668%   {left: 12.4442713068%; top: 19.1130234956%;}
  77.8364116095%   {left: 11.8603251054%; top: 19.7855060146%;}
  78.1002638522%   {left: 11.0810087631%; top: 20.8782409211%;}
  78.364116095%   {left: 10.0917629745%; top: 22.3361389509%;}
  78.6279683377%   {left: 9.09582777522%; top: 23.6120456611%;}
  78.8918205805%   {left: 8.16895090366%; top: 25.1883856091%;}
  79.1556728232%   {left: 7.60645016586%; top: 27.1257569855%;}
  79.419525066%   {left: 6.81867368661%; top: 28.9419319805%;}
  79.6833773087%   {left: 6.37127016169%; top: 30.8525457143%;}
  79.9472295515%   {left: 5.97482420622%; top: 32.4064564618%;}
  80.2110817942%   {left: 6.3704831722%; top: 33.405539619%;}
  80.4749340369%   {left: 7.00066500612%; top: 33.9611541988%;}
  80.7387862797%   {left: 7.50807647964%; top: 33.6646559085%;}
  81.0026385224%   {left: 8.30490333802%; top: 32.6246492978%;}
  81.2664907652%   {left: 8.92052586638%; top: 30.911569926%;}
  81.5303430079%   {left: 9.48086238308%; top: 29.0831965939%;}
  81.7941952507%   {left: 9.90898466551%; top: 26.5847017113%;}
  82.0580474934%   {left: 10.2877233575%; top: 24.1300814928%;}
  82.3218997361%   {left: 10.1755773552%; top: 21.8365973722%;}
  82.5857519789%   {left: 9.76752330473%; top: 19.2489759299%;}
  82.8496042216%   {left: 9.54696950022%; top: 17.280715216%;}
  83.1134564644%   {left: 9.18888928238%; top: 16.1218731924%;}
  83.3773087071%   {left: 8.92367382434%; top: 14.779859365%;}
  83.6411609499%   {left: 8.74384672593%; top: 13.4994274651%;}
  83.9050131926%   {left: 7.97908968926%; top: 12.9985086549%;}
  84.1688654354%   {left: 7.60704040798%; top: 12.549531151%;}
  84.4327176781%   {left: 7.42426209898%; top: 12.7086997753%;}
  84.6965699208%   {left: 7.15825965144%; top: 13.1006205412%;}
  84.9604221636%   {left: 6.6295994617%; top: 13.1614154793%;}
  85.2242744063%   {left: 6.32601826603%; top: 13.3626880413%;}
  85.4881266491%   {left: 6.14146923068%; top: 13.9706374221%;}
  85.7519788918%   {left: 5.98702254331%; top: 14.789893481%;}
  86.0158311346%   {left: 5.97246323775%; top: 15.497790527%;}
  86.2796833773%   {left: 6.04860447089%; top: 16.4829046208%;}
  86.5435356201%   {left: 6.23374374835%; top: 17.7125756986%;}
  86.8073878628%   {left: 6.73564629544%; top: 18.8356097004%;}
  87.0712401055%   {left: 6.93318065737%; top: 20.1774267805%;}
  87.3350923483%   {left: 6.7409584745%; top: 21.4793041439%;}
  87.598944591%   {left: 6.19301704226%; top: 22.7634742438%;}
  87.8627968338%   {left: 5.57896849288%; top: 24.1385416298%;}
  88.1266490765%   {left: 4.8649722783%; top: 25.1437239556%;}
  88.3905013193%   {left: 4.00184155541%; top: 25.9145801608%;}
  88.654353562%   {left: 3.19793179162%; top: 26.7753499152%;}
  88.9182058047%   {left: 2.37631476432%; top: 27.7207210398%;}
  89.1820580475%   {left: 2.02374347291%; top: 28.6468109218%;}
  89.4459102902%   {left: 2.07981647405%; top: 29.346838073%;}
  89.709762533%   {left: 2.12428138022%; top: 30.3290009562%;}
  89.9736147757%   {left: 2.98977307158%; top: 30.9009455679%;}
  90.2374670185%   {left: 4.02427075586%; top: 31.4541991792%;}
  90.5013192612%   {left: 5.61202205145%; top: 32.0021406114%;}
  90.765171504%   {left: 7.24522199006%; top: 32.6224850767%;}
  91.0290237467%   {left: 9.24102733608%; top: 32.9974855686%;}
  91.2928759894%   {left: 11.0694006682%; top: 33.2373206156%;}
  91.5567282322%   {left: 12.9339755168%; top: 33.2756863532%;}
  91.8205804749%   {left: 14.8260949975%; top: 33.2249255311%;}
  92.0844327177%   {left: 16.6121676445%; top: 33.0789389808%;}
  92.3482849604%   {left: 17.9425733769%; top: 32.5740852231%;}
  92.6121372032%   {left: 19.0307830939%; top: 31.9745959793%;}
  92.8759894459%   {left: 19.975367229%; top: 31.406586315%;}
  93.1398416887%   {left: 20.5486890723%; top: 30.7933247551%;}
  93.4036939314%   {left: 20.7531095922%; top: 30.2015086589%;}
  93.6675461741%   {left: 20.7777030138%; top: 29.6966549012%;}
  93.9313984169%   {left: 21.1442433686%; top: 28.8581175998%;}
  94.1952506596%   {left: 21.1082385995%; top: 28.3339825997%;}
  94.4591029024%   {left: 20.9236895641%; top: 27.4462584552%;}
  94.7229551451%   {left: 20.5648223568%; top: 26.3694600859%;}
  94.9868073879%   {left: 20.3064930568%; top: 25.5480398059%;}
  95.2506596306%   {left: 20.3064930568%; top: 24.5397095222%;}
  95.5145118734%   {left: 20.2213014445%; top: 23.5996505767%;}
  95.7783641161%   {left: 19.9007999748%; top: 22.4445467531%;}
  96.0422163588%   {left: 19.4142437228%; top: 21.4669090594%;}
  96.3060686016%   {left: 19.0400302204%; top: 20.4125398905%;}
  96.5699208443%   {left: 18.3453152483%; top: 19.4203428913%;}
  96.8337730871%   {left: 17.6427303813%; top: 18.0309129472%;}
  97.0976253298%   {left: 16.8419685755%; top: 16.7304128153%;}
  97.3614775726%   {left: 16.378431766%; top: 15.4739840949%;}
  97.6253298153%   {left: 16.0549790858%; top: 13.9005953575%;}
  97.889182058%   {left: 15.8267521337%; top: 12.5312336454%;}
  98.1530343008%   {left: 15.1765020678%; top: 11.1646263964%;}
  98.4168865435%   {left: 14.6584662362%; top: 9.56841496382%;}
  98.6807387863%   {left: 14.2628072702%; top: 8.80149370605%;}
  98.944591029%   {left: 13.8323240193%; top: 8.09595762849%;}
  99.2084432718%   {left: 13.2957939347%; top: 7.42642632008%;}
  99.4722955145%   {left: 12.9316145483%; top: 6.87081174031%;}
  99.7361477573%   {left: 12.6494788162%; top: 6.67799931532%;}
}

.handheld_camera_on_the_69_bus
{
  animation: handheld_camera_on_the_69_bus_animation 12.6333333333s infinite;
}
